In [20]:
import pandas as pd
import sqlalchemy
import psycopg2
from sqlalchemy import create_engine
import urllib.parse

In [31]:
import pandas as pd
import os

# Directory containing the CSV files
directory = "C:/Users/HP/Desktop/10_Academy/Week_3/Data/Cities"

# List to store DataFrames
dfs = []

# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        
        # Read the CSV file and create a DataFrame
        df = pd.read_csv(file_path)
        
        # Append the DataFrame to the list
        dfs.append(df)

# Now dfs is a list containing DataFrames for all CSV files in the directory
# Directory containing the CSV files
directory = "C:/Users/HP/Desktop/10_Academy/Week_3/Data/Content type"

# List to store DataFrames
dfs1 = []

# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        
        # Read the CSV file and create a DataFrame
        df = pd.read_csv(file_path)
        
        # Append the DataFrame to the list
        dfs1.append(df)
# Directory containing the CSV files
directory = "C:/Users/HP/Desktop/10_Academy/Week_3/Data/Device type"

# List to store DataFrames
dfs2 = []

# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        
        # Read the CSV file and create a DataFrame
        df = pd.read_csv(file_path)
        
        # Append the DataFrame to the list
        dfs2.append(df)
# Directory containing the CSV files
directory = "C:/Users/HP/Desktop/10_Academy/Week_3/Data/Geography"

# List to store DataFrames
dfs3 = []

# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        
        # Read the CSV file and create a DataFrame
        df = pd.read_csv(file_path)
        
        # Append the DataFrame to the list
        dfs3.append(df)
# Directory containing the CSV files
directory = "C:/Users/HP/Desktop/10_Academy/Week_3/Data/New and returning viewers"

# List to store DataFrames
dfs4 = []

# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        
        # Read the CSV file and create a DataFrame
        df = pd.read_csv(file_path)
        
        # Append the DataFrame to the list
        dfs4.append(df)
# Directory containing the CSV files
directory = "C:/Users/HP/Desktop/10_Academy/Week_3/Data/Operating system"

# List to store DataFrames
dfs5 = []

# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        
        # Read the CSV file and create a DataFrame
        df = pd.read_csv(file_path)
        
        # Append the DataFrame to the list
        dfs5.append(df)
        # Directory containing the CSV files
directory = "C:/Users/HP/Desktop/10_Academy/Week_3/Data/Sharing service"

# List to store DataFrames
dfs6 = []

# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        
        # Read the CSV file and create a DataFrame
        df = pd.read_csv(file_path)
        
        # Append the DataFrame to the list
        dfs6.append(df)
# Directory containing the CSV files
directory = "C:/Users/HP/Desktop/10_Academy/Week_3/Data/Subscription source"

# List to store DataFrames
dfs7 = []

# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        
        # Read the CSV file and create a DataFrame
        df = pd.read_csv(file_path)
        
        # Append the DataFrame to the list
        dfs7.append(df)
        # Directory containing the CSV files
directory = "C:/Users/HP/Desktop/10_Academy/Week_3/Data/Subscription status"

# List to store DataFrames
dfs8 = []

# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        
        # Read the CSV file and create a DataFrame
        df = pd.read_csv(file_path)
        
        # Append the DataFrame to the list
        dfs8.append(df)
        # Directory containing the CSV files
directory = "C:/Users/HP/Desktop/10_Academy/Week_3/Data/Subtitles and CC"

# List to store DataFrames
dfs9 = []

# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        
        # Read the CSV file and create a DataFrame
        df = pd.read_csv(file_path)
        
        # Append the DataFrame to the list
        dfs9.append(df)
        # Directory containing the CSV files
directory = "C:/Users/HP/Desktop/10_Academy/Week_3/Data/Traffic source"

# List to store DataFrames
dfs10 = []

# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        
        # Read the CSV file and create a DataFrame
        df = pd.read_csv(file_path)
        
        # Append the DataFrame to the list
        dfs10.append(df)
        
directory = "C:/Users/HP/Desktop/10_Academy/Week_3/Data/Viewer age"

# List to store DataFrames
dfs11 = []

# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        
        # Read the CSV file and create a DataFrame
        df = pd.read_csv(file_path)
        
        # Append the DataFrame to the list
        dfs11.append(df)

directory = "C:/Users/HP/Desktop/10_Academy/Week_3/Data/Viewer gender"

# List to store DataFrames
dfs12 = []

# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        
        # Read the CSV file and create a DataFrame
        df = pd.read_csv(file_path)
        
        # Append the DataFrame to the list
        dfs12.append(df)
        directory = "C:/Users/HP/Desktop/10_Academy/Week_3/Data/Viewership by Date"

# List to store DataFrames
dfs13 = []

# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        
        # Read the CSV file and create a DataFrame
        df = pd.read_csv(file_path)
        
        # Append the DataFrame to the list
        dfs13.append(df)
        directory = "C:/Users/HP/Desktop/10_Academy/Week_3/Data/Traffic source"

In [33]:
Cities_Chart = dfs [0]
display (Cities_Chart)
Cities_Table = dfs [1]
display (Cities_Table)
Cities_Totals = dfs [2]
display (Cities_Totals)

Content_Type_Chart = dfs1 [0]
Content_Type_Table = dfs1 [1]
Content_Type_Totals = dfs1 [2]

Device_type_Chart = dfs2 [0]
Device_type_Table = dfs2 [1]
Device_type_Totals = dfs2 [2]

Geography_Chart = dfs3 [0]
Geography_Table = dfs3 [1]
Geography_Totals = dfs3 [2]

New_Return_Chart = dfs4 [0]
New_Return_Table = dfs4 [1]
New_Return_Totals = dfs4 [2]

Operating_Sys_Chart = dfs5 [0]
Operating_Sys_Table = dfs5 [1]
Operating_Sys_Totals = dfs5 [2]

Sharing_service_Chart = dfs6 [0]
Sharing_service_Table = dfs6 [1]
Sharing_service_Totals = dfs6 [2]

Subscription_source_Chart = dfs7 [0]
Subscription_source_Table= dfs7 [1]
Subscription_source_Totals = dfs7 [2]

Subscription_status_Chart = dfs8 [0]
Subscription_status_Table = dfs8 [1]
Subscription_status_Totals = dfs8 [2]

Subtitles_CC_Chart = dfs9 [0]
Subtitles_CC_Table = dfs9 [1]
Subtitles_CC_Totals = dfs9 [2]

Traffic_source_Chart = dfs10 [0]
Traffic_source_Table = dfs10 [1]
Traffic_source_Totals = dfs10 [2]

Viewer_age_Table = dfs11 [0]

Viewer_gender_Table = dfs12 [0]

Viewership_by_Date_Table = dfs13 [0]
Viewership_by_Date_Totals = dfs13 [1]

            Date                                 Cities    City name  Views
0     2020-06-28  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
1     2020-06-29  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
2     2020-06-30  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
3     2020-07-01  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
4     2020-07-02  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
...          ...                                    ...          ...    ...
6390  2023-12-24  0x487a4d4c5226f5db:0xd9be143804fe6baa   Manchester      0
6391  2023-12-25  0x487a4d4c5226f5db:0xd9be143804fe6baa   Manchester      0
6392  2023-12-26  0x487a4d4c5226f5db:0xd9be143804fe6baa   Manchester      0
6393  2023-12-27  0x487a4d4c5226f5db:0xd9be143804fe6baa   Manchester      0
6394  2023-12-28  0x487a4d4c5226f5db:0xd9be143804fe6baa   Manchester      0

[6395 rows x 4 columns]

,Cities,City name,Geography,Geography.1,Views,Watch time (hours),Average view duration
0,Total,NaN,NaN,NaN,26625,2157.3497,0:04:51
1,0x164b85cef5ab402d:0x8467b6b037a24d49,Addis Ababa,ET,ET-AA,1252,127.5042,0:06:06
2,0x487a4d4c5226f5db:0xd9be143804fe6baa,Manchester,GB,GB-ENG,23,0.0402,0:00:06
3,0x3568eb6de823cd35:0x35d8cb74247108a7,Busan,KR,KR-26,14,0.0354,0:00:09
4,0x168e8fde9837cabf:0x191f55de7e67db40,Khartoum,SD,SD-KH,12,1.2627,0:06:18
5,0x3397ba0942ef7375:0x4a9a32d9fe083d40,Quezon City,PH,PH-00,11,0.0615,0:00:20
6,0x3ae253d10f7a7003:0x320b2e4d32d3838d,Colombo,LK,LK-1,11,0.0363,0:00:11
7,0x102354e509f894f7:0xc8fde921f89849f6,Cotonou,BJ,BJ-LI,10,1.1665,0:06:59
8,0x399bfd991f32b16b:0x93ccba8909978be7,Lucknow,IN,IN-UP,10,0.0290,0:00:10

            Date  Views
0     2020-06-28      1
1     2020-06-29     72
2     2020-06-30     76
3     2020-07-01     70
4     2020-07-02     57
...          ...    ...
1274  2023-12-24     36
1275  2023-12-25     24
1276  2023-12-26     57
1277  2023-12-27      8
1278  2023-12-28     25

[1279 rows x 2 columns]

In [37]:
encoded_password = urllib.parse.quote("Sheila@49")
connection_params = {
    "host": "localhost",
    "user": "postgres",
    "password": encoded_password,
    "port": "5432",
    "database": "YouTube_Data"
}
# Establish connection to the PostgreSQL database
engine = create_engine(
    f"postgresql+psycopg2://{connection_params['user']}:{connection_params['password']}"
    f"@{connection_params['host']}:{connection_params['port']}/{connection_params['database']}"
)
# Load df1 into the PostgreSQL database
Cities_Chart.to_sql('Cities_Chart', engine, if_exists='replace', index=False)
Cities_Table.to_sql('Cities_Table', engine, if_exists='replace', index=False)
Cities_Totals.to_sql('Cities_Totals', engine, if_exists='replace', index=False)
Content_Type_Chart.to_sql('Content_Type_Chart', engine, if_exists='replace', index=False)
Content_Type_Table.to_sql('Content_Type_Table', engine, if_exists='replace', index=False)
Content_Type_Totals.to_sql('Content_Type_Totals', engine, if_exists='replace', index=False)
Device_type_Chart.to_sql('Device_type_Chart', engine, if_exists='replace', index=False)
Device_type_Table.to_sql('Device_type_Table', engine, if_exists='replace', index=False)
Device_type_Totals.to_sql('Device_type_Totals', engine, if_exists='replace', index=False)
Geography_Chart.to_sql('Geography_Chart', engine, if_exists='replace', index=False)
Geography_Table.to_sql('Geography_Table', engine, if_exists='replace', index=False)
Geography_Totals.to_sql('Geography_Totals', engine, if_exists='replace', index=False)
New_Return_Chart.to_sql('New_Return_Chart', engine, if_exists='replace', index=False)
New_Return_Table.to_sql('New_Return_Table', engine, if_exists='replace', index=False)
New_Return_Totals.to_sql('New_Return_Totals', engine, if_exists='replace', index=False)
Operating_Sys_Chart.to_sql('Operating_Sys_Chart', engine, if_exists='replace', index=False)
Operating_Sys_Table.to_sql('Operating_Sys_Table', engine, if_exists='replace', index=False)
Operating_Sys_Totals.to_sql('Operating_Sys_Totals', engine, if_exists='replace', index=False)
Sharing_service_Chart.to_sql('Sharing_service_Chart', engine, if_exists='replace', index=False)
Sharing_service_Table.to_sql('Sharing_service_Table', engine, if_exists='replace', index=False)
Sharing_service_Totals.to_sql('Sharing_service_Totals', engine, if_exists='replace', index=False)
Subscription_source_Chart.to_sql('Subscription_source_Chart', engine, if_exists='replace', index=False)
Subscription_source_Table.to_sql('Subscription_source_Table', engine, if_exists='replace', index=False)
Subscription_source_Totals.to_sql('Subscription_source_Totals', engine, if_exists='replace', index=False)
Subscription_status_Chart.to_sql('Subscription_status_Chart', engine, if_exists='replace', index=False)
Subscription_status_Table.to_sql('Subscription_status_Table', engine, if_exists='replace', index=False)
Subscription_status_Totals.to_sql('Subscription_status_Totals', engine, if_exists='replace', index=False)
Subtitles_CC_Chart.to_sql('Subtitles_CC_Chart', engine, if_exists='replace', index=False)
Subtitles_CC_Table.to_sql('Subtitles_CC_Table', engine, if_exists='replace', index=False)
Subtitles_CC_Totals.to_sql('Subtitles_CC_Totals', engine, if_exists='replace', index=False)
Traffic_source_Chart.to_sql('Traffic_source_Chart', engine, if_exists='replace', index=False)
Traffic_source_Table.to_sql('Traffic_source_Table', engine, if_exists='replace', index=False)
Traffic_source_Totals.to_sql('Traffic_source_Totals', engine, if_exists='replace', index=False)
Viewer_age_Table.to_sql('Viewer_age_Table', engine, if_exists='replace', index=False)
Viewer_gender_Table.to_sql('Viewer_gender_Table', engine, if_exists='replace', index=False)
Viewership_by_Date_Table.to_sql('Viewership_by_Date_Table', engine, if_exists='replace', index=False)
Viewership_by_Date_Totals.to_sql('Viewership_by_Date_Totals', engine, if_exists='replace', index=False)

279